<!-- Checkbox View -->

<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link th:href="@{/survey.css}" th:rel="stylesheet" type="text/css"/>
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
          rel="stylesheet">

<!-- <link rel="stylesheet" href="../static/survey.css"> -->

    <title>Befragter Check Box</title>
</head>
<body>


<div class="header">
    <h3>"Titel Umfrage"</h3>
</div>

<div class="content" style="flex-direction: column;">
    <div style="margin-bottom: 10px; padding: 6px; width: 100%">
        <b style="font-size: 30px">"Frage"</b>
    </div>


    <form id="myForm" style="padding: 6px"> <!-- action="#" th:action="@{/save-response}" th:object="${}" method="post"> -->

        <label class="container2">One
            <input type="checkbox">
            <span class="checkmark2"></span>
        </label>
        <label class="container2">Two
            <input type="checkbox">
            <span class="checkmark2"></span>
        </label>
        <label class="container2">Three
            <input type="checkbox">
            <span class="checkmark2"></span>
        </label>
        <label class="container2">Four
            <input type="checkbox">
            <span class="checkmark2"></span>
        </label>

    </form>

</div>


<div class="footer">
    <button form="myForm" type="submit" class="formularabsenden">Weiter</button>
</div>

</body>
</html>