<!-- Survey-view -->

<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link th:href="@{/survey.css}" th:rel="stylesheet" type="text/css"/>
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
          rel="stylesheet"/>

    <!--
    <link rel="stylesheet" href="../static/survey.css" >
-->

    <title>Umfrageansicht</title>
</head>

<body>
<div class="header">
    <!-- Username -->
    <div class="col-75">
        <h3>Admin User</h3>
    </div>
    <!-- Button for options/settings next to the username -->
    <div class="col-25" style="text-align: right;padding: 6px">
        <button class="optbutton"><span class="material-symbols-outlined">settings</span></button>
    </div>
</div>


<div class="content">
    <form action="#" th:action="@{/button-survey-handler}" th:object="${surveyView}" method="get" id="surveyViewForm"
          style="width: 100%">
        <table class="tabelletext">
            <!-- Projects heading -->
            <thead>
            <tr>
                <th style="border-bottom: 0"><b style="font-size: 30px">Projekte</b></th>
            </tr>
            </thead>

            <tbody style="padding: 10px">

            <!-- hidden input field to store which button was clicked -->
            <input type="hidden" name="buttonHandler" th:value="${buttonHandler}"/>

            <!-- dynamic loop over the surveys -->
            <tr style="width: 100%" th:each="survey, surveyStat : *{surveys}">
                <!-- Survey title -->
                <td th:text="${survey.title}"></td>


                <!-- buttons -->
                <td class="col-75" style="text-align: right">
                    <button type="submit" name="buttonHandler" th:value="'delete_' + ${survey.surveyId}"
                            class="optbutton">
                        <span class="material-symbols-outlined">delete</span>
                    </button>
                    <button type="submit" name="buttonHandler" th:value="'edit_' + ${survey.surveyId}"
                            class="optbutton">
                        <span class="material-symbols-outlined">edit</span>
                    </button>
                    <button type="submit" name="buttonHandler" th:value="'monitoring_' + ${survey.surveyId}"
                            class="optbutton">
                        <span class="material-symbols-outlined">monitoring</span>
                    </button>
                    <button type="submit" name="buttonHandler" th:value="'settings_' + ${survey.surveyId}"
                            class="optbutton">
                        <span class="material-symbols-outlined">settings</span>
                    </button>
                </td>

                <!--<td><input type="text" th:field="*{surveys[__${surveyStat.index}__].title}"></td>-->
            </tr>
            </tbody>
            <tfoot></tfoot>
        </table>
    </form>
</div>

<div class="footer">
    <form method="get" action="/add-survey">
        <button class="formularabsenden">+ Umfrage hinzufügen</button>
    </form>
</div>
</body>
</html>