<!-- Dieser HTML-Code ist noch aus dem Technologietest übrig-->
<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Umfrage</h1>
<form action="#" th:action="@{/umfrage}" th:object="${inputForm}" method="post">
    <p>Gebe dein Alter ein:</p>
    <table>
        <tr th:each="textInput, textInputStat : *{textInputs}">
            <!--<td th:text="${textInput.content}"></td>
            <td><input type="text" name="Texteingabe" th:value="${textInput.content}"></td>-->
            <td><input type="text" th:field="*{textInputs[__${textInputStat.index}__].content}"></td>
        </tr>
    </table>
    <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
</form>

</body>
</html>
