/Technologietest/Python/Werbserver-Technologietest/.venv/
/Technologietest/Java Spring Boot/survey-application/.idea/
/MVP/survey-application/.idea/
/MVP/survey-application/.gradle/
/MVP/survey-application/gradle/